*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: mediumseagreen;
    width: 100%;
    max-height: 100vh;
}

.login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form{
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 5px 20px rgba(0,0,0,0.4);
    height: 400px;
    width: 500px;
}

.form input, .form button{
    display: block;
    width: 50%;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

.form input:first-child{
    margin-top: 100px;
}